<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ullam eius quisquam ut dicta inventore repellendus ipsum at accusantium, minima quia illum aperiam laboriosam reiciendis aut nisi fugiat et nesciunt tempore porro natus accusamus doloribus animi. Dicta, perspiciatis deserunt!</p>

<%- include('footer') -%>